*.font:        -*-terminus-*-*-*-*-12-*-*-*-*-*-*-*
urxvt.scrollBar:	false

URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

urxvt.internalBorder: 10

! special
*.foreground:   #000000
*.background:   #e8e8ea
*.cursorColor:  #000000

! black
*.color0:       #202020
*.color8:       #202020

! red
*.color1:       #000000
*.color9:       #000000

! green
*.color2:       #0ba5de
*.color10:      #0ba5de

! yellow
*.color3:       #262626
*.color11:      #262626

! blue
*.color4:       #606060
*.color12:      #606060

! magenta
*.color5:       #f77e0e
*.color13:      #f77e0e

! cyan
*.color6:       #4a4a4a
*.color14:      #4a4a4a

! white
*.color7:       #aaaaaa
*.color15:      #aaaaaa

