Xft.dpi: 96
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

*.font:         xft:Envy Code R:size=9:antialias=true:hinting=true

!*.font:         -*-unifont-*-*-*-*-16-*-*-*-*-*-*-*

urxvt.scrollBar:	false

URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

urxvt.internalBorder: 10

urxvt.letterSpace: -1

*.foreground:   #545855
*.background:   #e8e8ea
*.cursorColor:  #545855
! black
*.color0:       #3c3e3c
*.color8:       #545855
! red 
*.color1:       #ac4c64
*.color9:       #ac4c64
! green 
*.color2:       #4cac64
*.color10:      #4cac64
! yellow
*.color3:       #ac8b4c
*.color11:      #ab894b
! blue
*.color4:       #4c64ac
*.color12:      #4c64ac
! magenta
*.color5:       #a04bab
*.color13:      #a04bab
! cyan
*.color6:       #4b96ab
*.color14:      #4b96ab
! white
*.color7:       #aaaaaa
*.color15:      #aaaaaa
