!*.font:		xft: Liberation Mono:pixelsize=12 

*.font:         xft:Terminus:pixelsize=12

urxvt.scrollBar:	false
!urxvt.letterSpace:	-2

Xft.rgba:       none

URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

! special
*.foreground:   #e6e1dc
*.background:   #2b2b2b
*.cursorColor:  #e6e1dc

! black
*.color0:       #2b2b2b
*.color8:       #666666

! red
*.color1:       #cccccc
*.color9:       #cccccc

! green
*.color2:       #a5c288
*.color10:      #a5c288

! yellow
*.color3:       #f7e494
*.color11:      #f7d094

! blue
*.color4:       #86b4bf
*.color12:      #86b4bf

! magenta
*.color5:       #a4a4eb
*.color13:      #a4a4eb

! cyan
*.color6:       #d494b8
*.color14:      #d494b8


